TOKEN="BOT_TOKEN"                 # The token of the bot you're using
LOG_PATH="../logs"                # The location that logs are stored
DATABASE_PATH="../database"       # The location that sqlite databases are stored
ATTACHMENTS_PATH="../attachments" # The location that attachments are stored
REPLY_TYPE="EMBED"                # The reply type that proxied messages use (one of "EMBED", "TRANSFORMATE")
ADMINS=[ADMINID, 2NDADMINID]      # A list of admins (stored as Integers)
WEBHOOK_NAME="bodyProxy"          # The name of the webhook the bot uses
COMMAND_PREFIX="sb!"              # The prefix that commands use